@import "../../primaryVariables.scss";
.container-admin {
  padding-top: $paddingToMain;
  min-height: 100vh;
  height: max-content;
  padding-bottom: 5rem;
  background-image: url("../../assets/homePics/home2.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .tabs-container {
    background-color: #fff;
  }
}

button[aria-selected="false"] {
  font-weight: bold;
  color: $secondary;
}
