@import "../../primaryVariables.scss";
.container-admin {
  padding-top: $paddingToMain;
  min-height: 100vh;
  height: max-content;
  padding-bottom: 5rem;
  background-image: url("../../assets/homePics/home2.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .tabs-container {
    background-color: #fff;
  }
}

button[aria-selected="false"] {
  font-weight: bold;
  color: $secondary;
}
#extras-container {
  .row-extras {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
#extras-container > div {
  width: 70%;
}

.MuiTabs-root {
  border-radius: 20px 20px 0 0;
}
.css-1kpq11i {
  border-radius: 20px !important;
}
.css-1hhu9xl {
  border-radius: 20px !important;
}