.car-list {
  background-image: url("../assets/home3.jpg");
  background-attachment: fixed;
  //background-size: cover;
  /* -moz-background-size: cover;
  -webkit-background-size: cover; */
  //background-repeat: no-repeat;
  background-position: center center;
  padding: 5%;
}
