@import "./primaryVariables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* --primary-color: #f4b408; */
  --primary-color: #{$primary};
  --secondary-color: #{$secondary};
  --padding-to-main: #{$paddingToMain};
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

//Circularmenu bottom
.container-speed-dial {
  height: 320px;
  transform: translateZ(0);
  flex-grow: 1;
  position: fixed;
  bottom: 10px;
  right: 5px;
  mix-blend-mode: difference;
  #scroll-top {
    position: absolute;
    bottom: 16px;
    right: 16px;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  #scroll-top.visible {
    opacity: 1;
    visibility: visible;
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #888;

  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: $primary;
}

//warning closebutton/flag datepicker
/* .iZOsTl svg {
  width: 100% !important;
  height: 20px !important;
}
 */
//Contact form
.contact-container {
  display: flex;
  flex-direction: column;
  #enviar {
    display: block;
    margin: 1rem auto;
  }
  & form {
    width: 100%;
  }
  & form > div {
    width: 100%;
    margin: 1rem auto;
  }
  #message {
    text-align: start;
    justify-content: start;
  }

}
