//background input age
.sc-bZpYCy {
    background-color: #fff !important;
}
//color label checkbox
.sc-edMVSI {
    color: #fff !important;
}
//Combobox branches
.MuiInputBase-root {
    .MuiInputBase-input {
        &::placeholder {
            color: rgb(164, 167, 181) !important;
            font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-weight: 500;
            font-size: 1.25rem;
        }
        
    }

}
