//background input age
.sc-bZpYCy {
  background-color: #fff !important;
}


//Combobox branches
.MuiInputBase-root {
  .MuiInputBase-input {
    font-weight: 400;
    font-size: 1.25rem;
    color: rgb(42, 48, 57);
    line-height: 52.4px;
    letter-spacing: 0.15008px;
    text-align: center;
    &::placeholder {
      color: rgb(164, 167, 181) !important;
      font-weight: 500;
      font-size: 1.25rem;
    }
  }
}
//Error Datetime field
.jHDbEO {
  background-color: #ff0000 !important;
  color: #fff !important;
  border-radius: "5px";
  width: 90%;
  text-align: center;
  border-radius: 5px;
  user-select: none;
  height: 1.5rem;
  line-height: 1.5rem;
}
.label-combobox {
  width: 100%;
  margin: auto;
  color: #f4b408;
  font-size: 2rem;
}
