.valid {
  border: 2px solid aquamarine !important;
  transition-property: border !important;
  transition-duration: 0.25s !important;
}
.register-container {
  border: 3px solid #f4b408;
  padding: 2%;
  margin: 5% auto;
  width: 80%;
}
